$txtH: #333;
$wh: #fff;
$shadow: rgba(21,24,36,.15993);
$line: #ba9f8c;
$card: rgba(21,24,36,.4);
$card2: rgba(167, 167, 167, 0.1);
$bgSec: #fafafa;
$tel: #2da5d8;
$footer: rgb(44, 44, 44);
$red: rgb(190, 70, 70);
$black: #000000;